.announcements-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.announcements-page-announcements-page {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.announcements-page-i-m-a-g-e8219597musictrumpetmusicianprofessionentertai {
  top: 512px;
  left: 928px;
  width: 512px;
  height: 512px;
  position: absolute;
  border-color: transparent;
}
.announcements-page-text {
  top: 148px;
  left: 136px;
  color: rgba(57, 55, 55, 1);
  width: 483px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Lexend Tera;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.announcements-page-navlink {
  display: contents;
}
.announcements-page-group9 {
  top: 266px;
  left: 84px;
  width: 264px;
  height: 386px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(23, 196, 255, 0.23999999463558197);
}
.announcements-page-text02 {
  top: 25px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-text04 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-group12 {
  top: 699px;
  left: 456px;
  width: 264px;
  height: 386px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(23, 196, 255, 0.23999999463558197);
}
.announcements-page-text06 {
  top: 25px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-text08 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-group11 {
  top: 699px;
  left: 84px;
  width: 264px;
  height: 386px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(23, 196, 255, 0.23999999463558197);
}
.announcements-page-text10 {
  top: 25px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-text12 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-navlink1 {
  display: contents;
}
.announcements-page-group10 {
  top: 266px;
  left: 456px;
  width: 264px;
  height: 386px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(23, 196, 255, 0.23999999463558197);
}
.announcements-page-text14 {
  top: 25px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-text16 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-navlink2 {
  display: contents;
}
.announcements-page-group91 {
  top: 296px;
  left: 942px;
  width: 418px;
  height: 126px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(24, 196, 255, 1);
}
.announcements-page-text18 {
  left: 16px;
  color: rgba(255, 255, 255, 1);
  width: 378px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.announcements-page-image {
  width: 254px;
  height: 129px;
  object-fit: cover;
}
.announcements-page-butoane-bara {
  top: 8px;
  right: 16px;
  width: 311px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-bottom: 77px;
}
.announcements-page-navlink3 {
  display: contents;
}
.announcements-page-i-m-a-g-e1976053homehomepagehomepagehomepagesicon1 {
  top: 7px;
  right: -5px;
  width: 111px;
  bottom: -15px;
  height: 79px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.announcements-page-thq-dropdown {
  left: 30px;
  bottom: 2px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
  background-size: cover;
  background-image: url("/playground_assets/pastedimage-ql0q-400w.png");
}
.announcements-page-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.announcements-page-dropdown-arrow {
  transition: 0.3s;
}
.announcements-page-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.announcements-page-dropdown-list {
  left: var(--dl-space-space-halfunit);
  right: var(--dl-space-space-sixunits);
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.announcements-page-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.announcements-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.announcements-page-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.announcements-page-text23 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.announcements-page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.announcements-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.announcements-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.announcements-page-text24 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.announcements-page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.announcements-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.announcements-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.announcements-page-text25 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.announcements-page-navlink4 {
  display: contents;
}
.announcements-page-i-m-a-g-e4092561envelopemailmobileuimessageemailicon1 {
  top: 12px;
  left: 93px;
  width: 111px;
  bottom: -23px;
  height: 79px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
