.post-announcement-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.post-announcement-page-announcement-page {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.post-announcement-page-text {
  top: 193px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.post-announcement-page-text02 {
  top: 381px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  width: 363px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.post-announcement-page-navlink {
  display: contents;
}
.post-announcement-page-group9 {
  top: 255px;
  left: 869px;
  width: 418px;
  height: 126px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(24, 196, 255, 1);
}
.post-announcement-page-text04 {
  left: 16px;
  color: rgba(255, 255, 255, 1);
  width: 378px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.post-announcement-page-i-m-a-g-e8219589navigationsearchfindtelescopeviewicon1 {
  top: 442px;
  left: 783px;
  width: 582px;
  height: 582px;
  position: absolute;
  border-color: transparent;
}
.post-announcement-page-butoane-bara {
  top: 8px;
  right: 16px;
  width: 311px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-bottom: 77px;
}
.post-announcement-page-navlink1 {
  display: contents;
}
.post-announcement-page-i-m-a-g-e1976053homehomepagehomepagehomepagesicon1 {
  top: 7px;
  right: -5px;
  width: 111px;
  bottom: -15px;
  height: 79px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.post-announcement-page-thq-dropdown {
  left: 30px;
  bottom: 2px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
  background-size: cover;
  background-image: url("/playground_assets/pastedimage-ql0q-400w.png");
}
.post-announcement-page-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.post-announcement-page-dropdown-arrow {
  transition: 0.3s;
}
.post-announcement-page-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.post-announcement-page-dropdown-list {
  left: var(--dl-space-space-halfunit);
  right: var(--dl-space-space-sixunits);
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.post-announcement-page-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.post-announcement-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.post-announcement-page-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.post-announcement-page-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.post-announcement-page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.post-announcement-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.post-announcement-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.post-announcement-page-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.post-announcement-page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.post-announcement-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.post-announcement-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.post-announcement-page-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.post-announcement-page-navlink2 {
  display: contents;
}
.post-announcement-page-i-m-a-g-e4092561envelopemailmobileuimessageemailicon1 {
  top: 12px;
  left: 93px;
  width: 111px;
  bottom: -23px;
  height: 79px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.post-announcement-page-container1 {
  flex: 0 0 auto;
  width: 254px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.post-announcement-page-image {
  width: 254px;
  height: 129px;
  object-fit: cover;
}
.post-announcement-page-textinput {
  color: var(--dl-color-gray-black);
  right: -206px;
  width: 360px;
  bottom: -170px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  border-color: var(--dl-color-primary-100);
  border-width: 3px;
}
.post-announcement-page-textinput1 {
  top: 480px;
  left: 98px;
  width: 508px;
  height: 381px;
  position: absolute;
  border-color: var(--dl-color-primary-100);
  border-width: 3px;
}
