.generate-report-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.generate-report-page-generate-report-page {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.generate-report-page-menu {
  top: 51px;
  left: 1320px;
  width: 48px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.generate-report-page-line1 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 0px;
  position: absolute;
}
.generate-report-page-line2 {
  top: 21px;
  left: 0px;
  width: 48px;
  height: 0px;
  position: absolute;
}
.generate-report-page-line3 {
  top: 42px;
  left: 0px;
  width: 48px;
  height: 0px;
  position: absolute;
}
.generate-report-page-text {
  top: 253px;
  left: 165px;
  color: rgba(77, 109, 227, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-report-page-text02 {
  top: 170px;
  left: 550px;
  color: rgba(77, 109, 227, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-report-page-text04 {
  top: 333px;
  left: 550px;
  color: rgba(77, 109, 227, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-report-page-text06 {
  top: 172px;
  left: 86px;
  color: rgba(77, 109, 227, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-report-page-text08 {
  top: 308px;
  left: 164px;
  color: rgba(77, 109, 227, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-report-page-text10 {
  top: 360.8109436035156px;
  left: 154.4669189453125px;
  color: rgba(77, 109, 227, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.generate-report-page-i-m-a-g-e5736348analysisbarchartgrowreporticon1 {
  top: 182px;
  left: 863px;
  width: 372px;
  height: 326px;
  position: absolute;
  border-color: transparent;
}
.generate-report-page-image {
  left: 0px;
  right: 0px;
  width: 1345px;
  bottom: 20px;
  height: 492px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.generate-report-page-checkbox {
  top: 252px;
  left: 100px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
}
.generate-report-page-checkbox1 {
  top: 370px;
  left: 100px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
}
.generate-report-page-checkbox2 {
  top: 310px;
  left: 100px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
}
.generate-report-page-select {
  top: 218px;
  left: 550px;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  position: absolute;
}
.generate-report-page-select1 {
  top: 373px;
  left: 550px;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-small);
  position: absolute;
}
.generate-report-page-image1 {
  top: 0px;
  left: 0px;
  width: 254px;
  height: 129px;
  position: absolute;
  object-fit: cover;
}
.generate-report-page-link {
  display: contents;
}
.generate-report-page-container1 {
  top: 188px;
  left: 887px;
  width: 324px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.generate-report-page-rectangle14 {
  top: 0px;
  left: 54px;
  width: 210px;
  height: 49px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.generate-report-page-text12 {
  top: 2px;
  left: 0px;
  color: rgb(255, 255, 255);
  width: 324px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.generate-report-page-butoane-bara {
  top: 8px;
  right: 16px;
  width: 311px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-bottom: 77px;
}
.generate-report-page-navlink {
  display: contents;
}
.generate-report-page-i-m-a-g-e1976053homehomepagehomepagehomepagesicon1 {
  top: 7px;
  right: -5px;
  width: 111px;
  bottom: -15px;
  height: 79px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.generate-report-page-thq-dropdown {
  left: 30px;
  bottom: 2px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
  background-size: cover;
  background-image: url("/playground_assets/pastedimage-ql0q-400w.png");
}
.generate-report-page-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.generate-report-page-dropdown-arrow {
  transition: 0.3s;
}
.generate-report-page-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.generate-report-page-dropdown-list {
  left: var(--dl-space-space-halfunit);
  right: var(--dl-space-space-sixunits);
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.generate-report-page-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.generate-report-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.generate-report-page-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.generate-report-page-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.generate-report-page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.generate-report-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.generate-report-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.generate-report-page-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.generate-report-page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.generate-report-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.generate-report-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.generate-report-page-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.generate-report-page-navlink1 {
  display: contents;
}
.generate-report-page-i-m-a-g-e4092561envelopemailmobileuimessageemailicon1 {
  top: 12px;
  left: 93px;
  width: 111px;
  bottom: -23px;
  height: 79px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
